doctype html
html
    head
        title Welcome to CrashFree
    body
        h3 Hey #{user}, Welcome to CrashFree
        p Please enter the following registration code to complete your registration
        p Registration code :  #{code}
        p Your code will expire after 10 minutes
        br
        p Thanks
        p Team CrashFree @ 2021

