doctype html
html
    head
        title Reset your account password
    body
        h3 Hey #{user},
        p Please enter the following registration code to reset your current password
        p Reset code :  #{code}
        p Your code will expire after 10 minutess
        br
        p Thanks
        p Team CrashFree @ 2019

